@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");

.text-color {
  color: rgb(180, 122, 34);
}

.header {
  display: flex;
  padding-left: 60px;
  margin-top: 150px;
  margin-left: 280px;
}

.header p {
  font-family: "Raleway", sans-serif;
}

h1.header-title {
  font-size: 50px;
  padding-left: 10px;
  font-family: "Beau Rivage", cursive;
}
.header-img {
  padding-left: 50px;
  width: 450px;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.1);
}
Link {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

Link span {
  position: relative;
  color: #fff;
  letter-spacing: 8px;
  z-index: 1;
}

Link .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-decoration: none;
}

Link .liquid::after,
Link .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
}

Link .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

Link .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

Link:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
