@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.cont {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-left: 120px;
}
span {
  font-weight: 600;
}
p {
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
}

h1 {
  font-family: "Raleway", sans-serif;
}
